*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
client_secret.json
client_secret_web.json
strings.xml
client_secret_975290935363-3u2jt9ahmob4nu2mpr2272g0rd40hjnc.apps.googleusercontent.com.json
client_secret_975290935363-qrd28b9rgc9f8qs7tqkuc7eiqnuut0ag.apps.googleusercontent.com.json