<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 권한 요청 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".Model.FragSharedViewModel2"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_mio_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIO"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="33">
        <activity
            android:name=".TabAccount.AccountReviewActivity"
            android:exported="false" />
        <activity
            android:name=".TabAccount.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PassengersReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipationReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".TabAccount.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name=".TabCategory.MoreCarpoolTabActivity"
            android:exported="false" />
        <activity
            android:name=".TabCategory.MoreTaxiTabActivity"
            android:exported="false" />

        <receiver
            android:name=".Helper.AlarmReceiver"
            android:enabled="true"
            android:exported="false">

            <!-- 디바이스 부팅 시 바로 실행되게 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ApplyNextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeBoard.NoticeBoardEditActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeBoard.NoticeBoardReadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NoticeBoard.NoticeBoardActivity"
            android:exported="false" />
        <activity
            android:name=".SearchTap.SearchResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".SearchTap.NearbypostActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.Appkey"
            android:value="${kakaoSdkAppkey}" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <service
            android:name=".Helper.MyWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemjob.SystemJobService" />
            </intent-filter>
        </service>

    </application>

</manifest>